<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>FLABULESS | About </title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">FLABULESS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/about">ABOUT US</a></li>
      </ul>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">ABOUT US</h1>
        <div class="row center">
          <h5 class="header col s12 light"> </h5>
        </div>
        <div class="row center">
          <br>
          <br>

        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/corgi2.jpg"></div>
  </div>

 <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/shirley.jpg">
              <span class="card-title">Shirley Liu</span>
            </div>
            <div class="card-content">
              <p>Photographer, tall, sassy person from Hacienda Heights, CA.</p>
            </div>
            <div class="card-action">
              <a href="https://www.instagram.com/shirleytempleliu/"target="_blank">@shirleytempleliu</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/justine.jpg">
              <span class="card-title">Justine Koa</span>
            </div>
            <div class="card-content">
              <p> Professional Corgi Lover from Dublin, CA. </p>
            </div>
            <div class="card-action">
              <a href="https://www.instagram.com/juuuuuuj/" target="_blank">@juuuuuuj</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/sherry.jpg">
              <span class="card-title">Sherry Wang</span>
            </div>
            <div class="card-content">
              <p> Super hip songwriter & instagrammer from Palos Verdes, CA.</p>
            </div>
            <div class="card-action">
              <a href="https://www.instagram.com/imsherryw/" target="_blank">@imsherryw</a>
            </div>
          </div>
 </div>
    <div class="row">
         <div class="col offset-m4 s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/square.jpg">
              <span class="card-title">Founders of Flabuless</span>
            </div>
            <div class="card-content">
              <p> Kode with Klossy - Class of 2016!</p>
            </div>
          </div>
        </div>
      </div>
  </div>

</body>