<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>FLABULESS | Customize </title>

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">FLABULESS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/about">ABOUT US</a></li>
      </ul>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h2 class="header custom workout plan">Your Custom Workout Plan</h2>
        <div class="row center">
          <h5 class="header col s12 light">a custom workout routine based on you and your preferences
</h5>
        </div>
        <div class="row center">

        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="nike4.jpg" alt="Unsplashed background img 1"></div>
  </div>

<form class="questions" action="/results" method="POST">
  <h3 class="quest"> Level </h3>
    <p>
      <input class="with-gap" name="group1" type="radio" id="test1" value=1000 />
      <label for="test1">Beginner</label>
      <input class="with-gap" name="group1" type="radio" id="test2" value=2000 />
      <label for="test2">Intermediate</label>
      <input class="with-gap" name="group1" type="radio" id="test3" value=3000 />
      <label for="test3">Advanced</label>
    </p>

  <h3 class="quest"> Intensity </h3>
   <p>
      <input class="with-gap" name="group2" type="radio" id="test4" value=5000/>
      <label for="test4">Low</label>
      <input class="with-gap" name="group2" type="radio" id="test5" value=200/>
      <label for="test5">Medium</label>
      <input class="with-gap" name="group2" type="radio" id="test6" value=300 />
      <label for="test6">High</label>
    </p>

  <h3 class="quest"> Time </h3>
   <p>
      <input class="with-gap" name="group3" type="radio" id="test7" value=10/>
      <label for="test7">5 minutes</label>
      <input class="with-gap" name="group3" type="radio" id="test8" value=10/>
      <label for="test8">15 minutes</label>
      <input class="with-gap" name="group3" type="radio" id="test9" value=10000 />
      <label for="test9">30 minutes</label>
    </p>

  <h3 class="quest"> Type </h3>
   <p>
      <input class="with-gap" name="group4" type="radio" id="test10" value=1/>
      <label for="test10">Cardio</label>
      <input class="with-gap" name="group4" type="radio" id="test11" value=2/>
      <label for="test11">Strength</label>
      <input class="with-gap" name="group4" type="radio" id="test12" value=3 />
      <label for="test12">Abs</label>
    </p>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  </form>

  <div class="container">
    <div class="section">

          </div>
        </div>



  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>

        </div>
      </div>

    </div>
  </div>




  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Social Media</h5>
          <p class="grey-text text-lighten-4">  <ul>
            <li><a class="white-text" >Shirley Liu</a></li>
            <li><a class="white-text" >Sherry Wang</a></li>
            <li><a class="white-text" >Justine Koa</a></li>
          </ul>



        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Instagram</h5>
          <ul>
            <li><a class="white-text" href="https://www.instagram.com/shirleytempleliu/">@shirleytempleliu</a></li>
            <li><a class="white-text" href="https://www.instagram.com/imsherryw/">@imsherryw</a></li>
            <li><a class="white-text" href="https://www.instagram.com/juuuuuuj/">@juuuuuuj</a></li>
          </ul>
        </div>
        </div>
      </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>

