<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>FLABULESS | Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">FLABULESS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/about">ABOUT US</a></li>
      </ul>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">FLABULESS</h1>
        <div class="row center">
          <h5 class="header col s12 light"> A personalized workout routine generator for an enjoyable workout experience. <br> Workout anywhere. No gear required.
</h5>
        </div>
        <div class="row center">
          <a href="/customize" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Customize Workout</a>
          <br>
          <br>

        </div>
        <br><br>


      </div>
    </div>
    <div class="parallax"><img src="run1.jpg"></div>
  </div>



  <div class="container">
    <div class="section">

 <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">star</i></h2>
            <h5 class="center">Experience Level</h5>

            <p class="description">Flabuless will generate a workout plan based on your level of experience.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">trending_up</i></h2>
            <h5 class="center">Intensity</h5>

            <p class="description"> The workout plan will reflect your desired intensity. </p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">query_builder</i></h2>
            <h5 class="center">Time</h5>

            <p class="description">Short on time? No problem! Flabuless caters to your schedule.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">list</i></h2>
            <h5 class="center">Type of Exercise</h5>

            <p class="description">Decide what type of workout will satisfy your goal.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>

        </div>
      </div>

    </div>
  </div>

 <!--   Gym Locator Section   -->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Need space or want to train more?</h5>
          <div class="row center">
          <a href="https://www.anytimefitness.com/find-gym/" target="_blank" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Find a Gym Near You</a>
        </div>
      </div>
      </div>
    </div>
    <div class="parallax"><img id="gym" src="gym1.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Social Media</h5>
          <p class="grey-text text-lighten-4">  <ul>
            <li><a class="white-text" >Shirley Liu</a></li>
            <li><a class="white-text" >Sherry Wang</a></li>
            <li><a class="white-text" >Justine Koa</a></li>
          </ul>

 <!--  Social Media Section   -->

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Instagram</h5>
          <ul>
            <li><a class="white-text" href="https://www.instagram.com/shirleytempleliu/">@shirleytempleliu</a></li>
            <li><a class="white-text" href="https://www.instagram.com/imsherryw/">@imsherryw</a></li>
            <li><a class="white-text" href="https://www.instagram.com/juuuuuuj/">@juuuuuuj</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripflts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>

